 body {
    font-size: 16px;
    width: 780px;
    font-family: Arial;
    color: #555;
    line-height: 20px;
    margin: 0 auto;
    padding: 60px;
}
 .date-separator {
    padding: 0 3px;
}
 li {
    padding-bottom: 5px;
}
 h1.name {
    margin: 0 0 40px;
    padding: 0;
}
 .first-name,
 .last-name {
    font-family: Myriad Pro, Arial;
    margin-right: 10px;
    font-size: 60px;
    color: #555;
    line-height: 60px;
    font-weight: 700;
}
 .contact {
    color: #aaa;
    font-size: 20px;
    margin-bottom: 50px;
}
 .summary,
 .specialties,
 .skills,
 .positions,
 .educations,
 .honors,
 .interests,
 .associations,
 .certifications,
 .languages,
 .patents,
 .publications,
 .error-section {
    clear: both;
    border-top: 1px solid #ccc;
    overflow: auto;
    width: 750px;
    margin: 0 auto;
}

h2 {
    color: #555;
    font-size: 36px;
    width: 250px;
    height: 60px;
    line-height: 60px;
    float: left;
    margin: 10px 0 10px 0;
    padding: 0;
}
 .summary .content,
 .specialties .content,
 .skills .content,
 .positions .content,
 .educations .content,
 .honors .content,
 .interests .content,
 .associations .content,
 .certifications .content,
 .languages .content,
 .patents .content,
 .publications .content,
 .error-section .content {
    float: left;
    width: 473px;
    line-height: 22px;
    margin: 0 0 25px px;
}
 .position .company-name,
 .education .school-name,
 .certification .certification-name,
 .patent .patent-title,
 .publication .publication-title {
    font-size: 22px;
    color: #e86e14;
    line-height: 22px;
    float: left;
    width: 360px;
}
 .position .title,
 .education .program,
 .certification .certificate-details,
 .patent .patent-details,
 .publication .publication-details {
    font-size: 18px;
    color: #555;
    line-height: 24px;
    clear: both;
}
.dates {
    font-size: 16px;
    color: #555;
    float: right;
}
 .position .job-summary,
 .education .notes,
 .education .activities,
 .patent .patent-summary,
 .publication .publication-summary {
    clear: both;
    padding: 15px 0;
}
 .position,
 .education,
 .certification,
 .patent,
 .publication {
    margin-top: 30px;
}
 .position.first,
 .education.first,
 .certification.first,
 .patent.first,
 .publication.first {
    margin-top: 10px!important;
}
 .skills li,
 .languages li {
    float: left;
    width: 185px;
    padding-right: 20px;
    word-wrap: break-word;
}
 .skills li .skill-name,
 .languages li .skill-name {
    font-size: 16px;
}
 .skills li .left-paren,
 .skills li .right-paren,
 .skills li .proficiency,
 .skills li .comma,
 .skills li .years,
 .languages li .left-paren,
 .languages li .right-paren,
 .languages li .proficiency,
 .languages li .comma,
 .languages li .years {
    font-size: 10px;
    color: #555;
}
 a {
    color: #aaa;
}
 ol,
 ul {
    padding: 10px 0 10px 15px;
}